@use '../config/variables' as *;

header {
    background-color: $color-header-bg;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        max-width: $container-max-width;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-md 0;
    }
}